* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Outfit, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
}

.reciple-card {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem 2rem;
  border-radius: 1rem;
  width: 46rem;
}

.header-img {
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.primary-heading {
  font-family: "Young Serif", serif;
  margin-bottom: 2rem;
}

.recipe-description {
  margin-bottom: 2rem;
}

.section-prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 1rem;
}
